.container{
    border: 2px solid black;
}
.col-2{
    /* border: 2px solid rgb(228, 25, 25); */
}
.carousel-item{
    height: 700px;
}
#header{
    text-align: center;
}
#cardcontainer{
    width: 95%;
    margin: auto;
    border-color: 2px solid black;
}
.off{
    position: relative;
    border: 2px solid black;
    width: 70px;
    text-align: center;
    left: 190px;
    bottom: 285px;
    background-color: red;
    color: white;
    border: none;
}
.container-fluid{
    height: 100%;
    background-color: black;
}